<div class="">
  <%= simple_form_for @product do |product| %>
    <%= product.input :title %>
    <%= product.input :description,:label => "Descripton (max 300 characters)", as: :text, maxlength: true %>
      <div class="d-flex justify-content-between align-items-center">
        <h3>Variants</h3>
        <button type="button" class="btn btn-primary" id="new_variant_btn" >Add new variant</button>
      </div>
      <div id="variant_parent">
      <div id="variant_form">
        <%= product.simple_fields_for :variants do |v| %>
        <%= v.input :sku %>
        <%= v.input :stock_quantity %>
        <button type="button" class="delete_variant_btn btn btn-primary mb-5">Delete variant</button>
        <% end %>
      </div>
      </div>
    <%= product.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
