<div class="w-50 d-flex justify-content-between align-items-center pb-5">
<%= form_with(model: [@variant, product], local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_area :title %>
    <%= f.label :description %>

    <%= f.text_area :description %>

    <h1> Variants</h1>
    <%= f.label :sku %>
    <%= f.text_area :sku %>
    <%= f.label :stock_quantity %>
    <%= f.number_field :stock_quantity %>
    <%= link_to 'Add Variant', new_product_variant_path(product), class: "btn btn-primary ml-5"  %>

  <%= f.submit %>
<% end %>
</div>